# PyTorch and related libraries with CUDA support
--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.0.0+cu118
torchvision==0.15.1+cu118
torchaudio==2.0.1+cu118
# TensorFlow with CUDA support
tensorflow[and-cuda]==2.14.0
# Deep learning and computer vision frameworks
deepface
ultralytics
supervision
onnxruntime
# Data handling and numerical computing
numpy<=1.23.5
# Utilities and helper libraries
Pillow>=5.2.0
opencv-python-headless>=4.5.5.64
orjson
aiofiles
redis
websockets
pynvml
dotenv
requests
fastapi
uvicorn
pyaml
minio==7.2.7
